name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "1 */12 * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get vscode-csharp releases
        id: vscode
        run: |
          versionlist=$(curl https://raw.githubusercontent.com/dotnet/vscode-csharp/refs/heads/main/package.json | jq '.["defaults"]')

          echo "roslyn=$(echo $versionlist | jq '.["roslyn"]' | cut -d '"' -f2)" >> "$GITHUB_OUTPUT"
          echo "rzls=$(echo $versionlist | jq '.["razor"]' | cut -d '"' -f2)" >> "$GITHUB_OUTPUT"

      - name: Assert stable releases are frozen ( prevent cleanup )
        env:
          GITHUB_TOKEN: ${{ secrets.RW_GITHUB_TOKEN }}
        run: |
          roslynFrozen=$(gh variable get FROZENRELEASES -R Crashdummyy/roslynLanguageServer)

          if [[ "$roslynFrozen" = *"${{ steps.vscode.outputs.roslyn }}"* ]];then
            echo "roslyn stable is still unchanged"
          else
            gh variable set FROZENRELEASES --body "${roslynFrozen};${{ steps.vscode.outputs.roslyn }}" -R Crashdummyy/roslynLanguageServer
          fi

      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: master
          token: ${{ secrets.RW_GITHUB_TOKEN }}

      - name: Configure git
        run: |
          git config user.name Crashdummyy
          git config user.email Simon.Schwendele@gmx.de
          git config http.sslVerify false

      - name: Update stables
        working-directory: packages
        run: |
          sed -i "s|roslynLanguageServer\@.*|roslynLanguageServer\@${{ steps.vscode.outputs.roslyn }}|"  roslyn/package.yaml

      - name: Update unstables
        env:
          GITHUB_TOKEN: ${{ secrets.RW_GITHUB_TOKEN }}
        working-directory: packages
        run: |
          latestRoslyn=$(gh release view -R crashdummyy/roslynLanguageServer --json tagName -q .tagName)
          sed -i "s|roslynLanguageServer\@.*|roslynLanguageServer\@${latestRoslyn}|"  roslyn-unstable/package.yaml

      - name: Commit changes
        env:
          GITHUB_TOKEN: ${{ secrets.RW_GITHUB_TOKEN }}
        run: |
          if [[ $(git diff --name-only | wc -l) -gt 0 ]];then
            echo "detected changes";
            git diff --name-only

            git add "./packages"
            git commit -m "Daily updates"
            git push -u origin HEAD
          else
            echo "No updates detected. Skipping PR"
            exit 0
          fi

